## Задачи 1

1. Прочитайте файл **student-mat.csv** и сохраните его в переменной **df**. Выведите на экран первые 10 строк таблицы, изучите данныи и описание к таблице. Создайте переменную **shape_table** и сохраните в ней размеры таблицы **student-mat.csv**. Напечатайте на экране размер таблицы в таком виде:
Размер таблицы: ...
2. Сколько наблюдений в наборе данных? В переменной **shape_table** хранится кортеж. Его первый элемент — количество наблюдений, который надо сохранить в переменной **observations_table** (не забывайте, что индексация элементов идёт с 0). Напечатайте на экране ответ в таком виде:
Количество наблюдений: ...
3. Найдите в информации, которую вернул метод **info()**, число наблюдений. Вручную присвойте это число как значение переменной **observations_info_table**.
4. Поскольку в ходе работы аналитик объявляет разные переменные и сохраняет в них добытую разными способами информацию, запутаться очень легко. Именно поэтому необходимо проверять себя и текущие результаты. Сравните полученные результаты в переменных observations_info_table и observations_table. Если значения переменных совпадают, то выведите количество наблюдений и сообщение:
'Решение верно, количество наблюдений равно', observations_table   
Если значения переменных не совпадают, то выведите сообщение:
'Решение неверно, проверьте ещё раз!'

In [8]:
import pandas as pd
df = pd.read_csv('student-mat.csv')
df.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15

In [9]:
shape_table = df.shape
print(f'Размер таблицы: {shape_table}')

Размер таблицы: (395, 33)

In [10]:
observations_table = shape_table[0]
print(f'Количество наблюдений: {observations_table}')

Количество наблюдений: 395

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [15]:
observations_info_table = 395

In [16]:
if observations_table == observations_info_table:
    print('Решение верно, количество наблюдений равно', observations_table)
else:
    print('Решение неверно, проверьте ещё раз!')

Решение верно, количество наблюдений равно 395

## Задачи 2
1. Получите таблицу, состоящую из столбцов Medu и Fedu. Сохраните её в переменной parents. Выведите на экран превые 20 строк.
2. Посчитайте число матерей студентов с высшим образованием. Для этого лучше всего использовать логическое условие parents ['Medu'] == 4. Сохраните результат в переменной mother_hight. Напечатайте ответ на экране в таком виде:
Число матерей с высшим образованием равно ...

3. Теперь посчитайте число отцов студентов с высшим образованием. Допишите в код подсчёт, похожий на предыдущий, только с логическим условием parents ['Fedu'] == 4.. Сохраните результат в переменной father_hight. Напечатайте ответ на экране в таком виде:
Число отцов с высшим образованием равно ...
4. Напишите условную конструкцию, которая сравнивает полученные значения и выводит информацию о победителе в этом бою!))

In [17]:
parents = df[['Medu', 'Fedu']]
parents.head(20)

    Medu  Fedu
0      4     4
1      1     1
2      1     1
3      4     2
4      3     3
5      4     3
6      2     2
7      4     4
8      3     2
9      3     4
10     4     4
11     2     1
12     4     4
13     4     3
14     2     2
15     4     4
16     4     4
17     3     3
18     3     2
19     4     3

In [23]:
mother_hight = parents[parents['Medu'] == 4]['Medu'].count()
print(f'Число матерей с высшим образованием равно {mother_hight}')

Число матерей с высшим образованием равно 131

In [24]:
father_hight = parents[parents['Fedu'] == 4]['Fedu'].count()
print(f'Число отцов с высшим образованием равно {father_hight}')

Число отцов с высшим образованием равно 96

In [27]:
if mother_hight > father_hight:
    print('Матери победили')
elif mother_hight < father_hight:
    print('Отцы победили')
else:
    print('Ничья')

Матери победили

## Задачи 3 (Титаник)
1. Теперь по аналогии создайте Series, где хранятся данные только о выживаемости мужчин. Назовите его men_life и сохраните в нем данные столбца Survived.
2. Обратитесь к созданной переменной для подсчета выживших мужчин. Сохраните результат в переменной quantity_men и напечатайте на экране в виде **Количество выживших женщин равно...**.
3. Для обои полов посчитайте долю выживших в процентах. Разделите количество выживших на общее количество мужчин и женщин. Выведите значения новых переменных в процентах с точностью до одного знака после запятой.

In [35]:
dfT = pd.read_csv('Titanic.csv')

In [36]:
women=dfT.loc[dfT['Sex']=='female']
women_life=women.loc[:,'Survived']
quantity_women=women_life.loc[women_life==1].count()

In [43]:
quantity_men = dfT.loc[dfT['Sex'] == 'male']['Survived'].sum()
print(f'Количество выживших мужчин равно {quantity_men}')

Количество выживших мужчин равно 109

In [45]:
total_people = dfT.shape[0]
total_people

891

In [48]:
male_survived_percent = (quantity_men / total_people) * 100
female_survived_percent = (quantity_women / total_people) * 100

print(f'Доля выживших мужчин: {male_survived_percent:.1f}%')
print(f'Доля выживших женщин: {female_survived_percent:.1f}%')

Доля выживших мужчин: 12.2%
Доля выживших женщин: 26.2%