## Задачи 1


1. Загрузите таблицу **exoplanet_catalog**, содержащую данные о планетах за пределами Солнечной системы, или экзопланетах. Сформируйте из данной таблицы новый датасет под назанием **exoplanet**, коорая будет содердать стоблцы name, mass, radius, discovered. Проверьте, чтобы название всех столбцов было корректным, при необходмости измените названия.

2. Удалите из получившейся таблица строки с нулевыми значениями.

3. Убедитесь, что таблица не содержит ни пропущенных значений, ни дубликатов.

In [26]:
import pandas as pd
exoplanet_catalog = pd.read_csv('exoplanet_catalog.csv')

In [27]:
exoplanet_catalog.columns

Index(['# name', 'planet_status', 'mass', 'mass_error_min', 'mass_error_max',
       'mass_sini', 'mass_sini_error_min', 'mass_sini_error_max', 'radius',
       'radius_error_min', 'radius_error_max', 'orbital_period',
       'orbital_period_error_min', 'orbital_period_error_max',
       'semi_major_axis', 'semi_major_axis_error_min',
       'semi_major_axis_error_max', 'eccentricity', 'eccentricity_error_min',
       'eccentricity_error_max', 'inclination', 'inclination_error_min',
       'inclination_error_max', 'angular_distance', 'discovered', 'updated',
       'omega', 'omega_error_min', 'omega_error_max', 'tperi',
       'tperi_error_min', 'tperi_error_max', 'tconj', 'tconj_error_min',
       'tconj_error_max', 'tzero_tr', 'tzero_tr_error_min',
       'tzero_tr_error_max', 'tzero_tr_sec', 'tzero_tr_sec_error_min',
       'tzero_tr_sec_error_max', 'lambda_angle', 'lambda_angle_error_min',
       'lambda_angle_error_max', 'impact_parameter',
       'impact_parameter_error_min', 'impact_parameter_error_max', 'tzero_vr',
       'tzero_vr_error_min', 'tzero_vr_error_max', 'k', 'k_error_min',
       'k_error_max', 'temp_calculated', 'temp_calculated_error_min',
       'temp_calculated_error_max', 'temp_measured', 'hot_point_lon',
       'geometric_albedo', 'geometric_albedo_error_min',
       'geometric_albedo_error_max', 'log_g', 'publication', 'detection_type',
       'mass_detection_type', 'radius_detection_type', 'alternate_names',
       'molecules', 'star_name', 'ra', 'dec', 'mag_v', 'mag_i', 'mag_j',
       'mag_h', 'mag_k', 'star_distance', 'star_distance_error_min',
       'star_distance_error_max', 'star_metallicity',
       'star_metallicity_error_min', 'star_metallicity_error_max', 'star_mass',
       'star_mass_error_min', 'star_mass_error_max', 'star_radius',
       'star_radius_error_min', 'star_radius_error_max', 'star_sp_type',
       'star_age', 'star_age_error_min', 'star_age_error_max', 'star_teff',
       'star_teff_error_min', 'star_teff_error_max', 'star_detected_disc',
       'star_magnetic_field', 'star_alternate_names'],
      dtype='object')

In [15]:
exoplanet_catalog.rename(columns = {'# name' : 'name'}, inplace = True)

In [17]:
exoplanet = exoplanet_catalog[['name', 'mass', 'radius', 'discovered']]
exoplanet

           name   mass  radius  discovered
0      11 Com b    NaN     NaN      2008.0
1      11 Oph b  21.00     NaN      2007.0
2      11 UMi b    NaN     NaN      2009.0
3      14 And b    NaN     NaN      2008.0
4      14 Her b    NaN     NaN      2002.0
...         ...    ...     ...         ...
4791  ups And b   0.62     NaN      1996.0
4792  ups And c   9.10     NaN      1999.0
4793  ups And d  23.58     NaN      1999.0
4794  ups And e    NaN     NaN      2010.0
4795  zet Del B  40.00     NaN      2014.0

[4796 rows x 4 columns]

In [28]:
exoplanet.dropna(inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_7112\1863464537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exoplanet.dropna(inplace = True)

In [110]:
exoplanet.isna().sum()

name          0
mass          0
radius        0
discovered    0
dtype: int64

In [30]:
exoplanet.duplicated().sum()

0

## Задачи 2

1. Меломаны у нас есть. Сейчас узнаем идентификатор **user_id** одного из них. Для этого сгруппируем данные по каждому пользователю, чтобы собрать жанры прослушанных им композиций.

Сгруппируйте DataFrame по столбцу user_id, сохраните полученный результат в переменной genre_grouping.

Посчитайте количество жанров, которые выбрали пользователи, методом count(), указав, что выбираем один столбец genre_name.

Сохраните результат в переменной genre_counting и выведите первые 30 строк этой таблицы.

2. Быть может, те, кто за день слушает больше 50 песен, имеют более широкие предпочтения. Чтобы найти такого, изготовим универсальный инструмент.

Напишите функцию user_genres, которая принимает некую группировку как свой аргумент group. Функция должна перебирать группы, входящие в эту группировку.

В каждой группе два элемента — имя группы с индексом 0 и список значений с индексом 1.

Обнаружив такую группу, в которой список (элемент с индексом 1) содержит более 50 значений, функция возвращает имя группы (значение элемента с индексом 0).

3. Вызовите функцию **user_genres**, как аргумент передайте ей **genre_grouping**. Результат – **user_id** неведомого нам любителя музыки – сохраните в переменной **search_id** и выведите значение на экран.

In [60]:
music = pd.read_csv('yandex_music.csv')

In [61]:
new_names = {'Day': 'day',  '  City  ': 'city',  '  userID' : 'user_id', 'time': 'total_play_seconds', 'artist': 'artist_name', 'genre': 'genre_name', 'Track': 'track_name'}
music.rename(columns = new_names, inplace = True)
music['track_name'] = music['track_name'].fillna('unknown')
music['artist_name'] = music['artist_name'].fillna('unknown')
music.dropna(subset = ['genre_name'], inplace=True)
music.drop_duplicates().reset_index(drop = True)
music['genre_name'] = music['genre_name'].replace('электроника', 'electronic')
music.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63881 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             63881 non-null  object
 1   track_name          63881 non-null  object
 2   artist_name         63881 non-null  object
 3   genre_name          63881 non-null  object
 4   city                63881 non-null  object
 5   total_play_seconds  63881 non-null  object
 6   day                 63881 non-null  object
dtypes: object(7)
memory usage: 3.9+ MB

In [65]:
genre_grouping = music.groupby('user_id')

In [67]:
genre_counting = genre_grouping['genre_name'].count()
genre_counting.head(30)

user_id
10004220    3
100173ED    1
1001CE90    7
1002410A    3
100261F9    2
1004AAE6    1
1004C5D8    1
1005BECA    1
10089377    3
100AB021    1
100ACFBC    1
10101201    2
10107FC7    2
10112F4C    2
1016144E    1
1016C39F    2
10180175    1
101861D1    2
10189D10    8
101AAA19    1
101B046A    2
101B53F1    1
101BBC61    1
101C12A4    2
101D714C    1
101E910F    1
10211433    1
10222F55    1
1022B77E    1
10246DCB    2
Name: genre_name, dtype: int64

In [96]:
def user_genres(group):
    for name_group, values in group:
        if len(values) > 50:
            return name_group

In [97]:
search_id = user_genres(genre_grouping)
search_id

'7D166C63'


## Задачи 3

1. Космический телескоп Kepler открыл похожую на Землю планету у похожей на Солнце звезды. А вы в данных Яндекс.Музыки обнаружили меломана с уникальными данными. Он за день послушал больше 50 композиций.
Получите таблицу с прослушанными им треками.

Для этого запросите из структуры данных df строки, отвечающие сразу двум условиям:

1) значение в столбце 'user_id' должно быть равно значению переменной search_id;

2) время прослушивания, т.е. значение в столбце 'total_play_seconds', не должно равняться 0.

Сохраните результат в переменной music_user.

2. Теперь узнаем, сколько времени он слушал музыку каждого жанра.

Сгруппируйте данные таблицы music_user по столбцу 'genre_name' и получите сумму значений столбца 'total_play_seconds'. Сохраните результат в переменной sum_music_user и выведите её значение на экран.

3. Кажется, предпочтения нашего меломана начинают проявляться. Но, возможно, длительность композиций от жанра к жанру сильно различается. Важно знать, сколько треков каждого жанра он включил.

Сгруппируйте данные по столбцу genre_name и посчитайте, сколько значений в столбце genre_name. Сохраните результат в переменной count_music_user и выведите её значение на экран.

4. Чтобы предпочтения были видны сразу, нужно крупнейшие значения расположить наверху. Отсортируйте данные в группировке sum_music_user по убыванию. Внимание: когда применяете метод sort_values() к Series с единственным столбцом, аргумент by указывать не нужно, только порядок сортировки.

Сохраните результат в переменной final_sum и выведите её значение на экран.

5. Теперь то же самое надо сделать с числом прослушанных меломаном композиций. Отсортируйте данные группировки count_music_user по убыванию. Сохраните результат в переменной final_count, значение которой выведите на экран.

In [101]:
music_user = music[ (music['user_id'] == search_id) & (music['total_play_seconds'] != 0) ]
music_user.head(10)

,user_id,track_name,artist_name,genre_name,city,total_play_seconds,day
274,7D166C63,unknown,unknown,jazz,Saint-Petersburg,20:29:53,Wednesday
2375,7D166C63,unknown,unknown,pop,Saint-Petersburg,20:34:44,Wednesday
2561,7D166C63,unknown,unknown,country,Saint-Petersburg,08:39:24,Monday
3096,7D166C63,unknown,unknown,schlager,Saint-Petersburg,08:42:55,Wednesday
4334,7D166C63,unknown,unknown,jazz,Saint-Petersburg,14:23:27,Monday
5671,7D166C63,unknown,unknown,pop,Saint-Petersburg,08:46:51,Monday
6498,7D166C63,unknown,unknown,pop,Saint-Petersburg,14:23:30,Monday
7187,7D166C63,unknown,unknown,pop,Saint-Petersburg,08:25:33,Wednesday
8388,7D166C63,unknown,unknown,pop,Saint-Petersburg,14:22:43,Monday
8906,7D166C63,unknown,unknown,jazz,Saint-Petersburg,14:16:10,Monday

In [103]:

sum_music_user = music_user.groupby('genre_name')['total_play_seconds'].sum()
sum_music_user

genre_name
classical                                              20:26:32
country                                                08:39:24
dance                                          14:11:5614:23:32
folk                                                   13:52:18
folkrock                                               14:29:08
ghazal                                                 08:32:18
hip                                                    20:29:56
jazz          20:29:5314:23:2714:16:1014:23:0608:39:3914:09:...
pop           20:34:4408:46:5114:23:3008:25:3314:22:4309:04:...
punk                                                   13:52:12
reggae                                         08:46:5509:04:14
rnb                                                    08:32:10
rock                   14:12:0214:23:4308:35:5808:56:3008:35:58
schlager               08:42:5508:39:3814:13:5409:04:1908:35:45
soundtrack                                             14:09:56
Name: total_play_seconds, dtype: object

In [106]:
count_music_user =  music_user.groupby('genre_name')['genre_name'].count()
count_music_user

genre_name
classical      1
country        1
dance          2
folk           1
folkrock       1
ghazal         1
hip            1
jazz          16
pop           15
punk           1
reggae         2
rnb            1
rock           5
schlager       5
soundtrack     1
Name: genre_name, dtype: int64

In [107]:
final_sum = sum_music_user.sort_values(ascending =  False)
final_sum

genre_name
pop           20:34:4408:46:5114:23:3008:25:3314:22:4309:04:...
hip                                                    20:29:56
jazz          20:29:5314:23:2714:16:1014:23:0608:39:3914:09:...
classical                                              20:26:32
folkrock                                               14:29:08
rock                   14:12:0214:23:4308:35:5808:56:3008:35:58
dance                                          14:11:5614:23:32
soundtrack                                             14:09:56
folk                                                   13:52:18
punk                                                   13:52:12
reggae                                         08:46:5509:04:14
schlager               08:42:5508:39:3814:13:5409:04:1908:35:45
country                                                08:39:24
ghazal                                                 08:32:18
rnb                                                    08:32:10
Name: total_play_seconds, dtype: object

In [108]:
final_count = count_music_user.sort_values(ascending =  False)
final_count

genre_name
jazz          16
pop           15
rock           5
schlager       5
dance          2
reggae         2
classical      1
country        1
folk           1
folkrock       1
ghazal         1
hip            1
punk           1
rnb            1
soundtrack     1
Name: genre_name, dtype: int64